@(form:Form[User])(implicit request:AuthenticatedRequest[_])

@authenticated("Edit Profile") {
	@helper.form(routes.UserProfile.updatePassword) {
		<fieldset>
			@helper.inputPassword(
				form("password.main"),
				'_label -> "Password",
				'_help -> "At least 6 characters")
				
				
			@helper.inputPassword(
				form("password.confirm"),
				'_label -> "Password (confirm)",
				'_help -> "Confirm your password",
				'_error -> form.error("password"))
		</fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Update">
        </div>
	}
}